if SHIELD_ERGOTYPER_LEFT

config ZMK_KEYBOARD_NAME
	default "Ergotyper"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_ERGOTYPER_LEFT || SHIELD_ERGOTYPER_RIGHT

config ZMK_SPLIT
    default y

endif
